
body {
    font-family: Helvetica, sans-serif;
}

.title {
    text-align: center;
}

#content {
    margin: 1em;
    padding: 1em;
    border: thin solid black;
}

#map {
    max-width: 1000px;
    width: 100%; 
}

#footer {
    background: #dddddd;
    margin-bottom: .5em;
    border-top: thin solid black;
    border-bottom: thin solid black;
}

#footer li {
    display: inline;
    text-align: center;
    padding-left: 1em;
    padding-right: 1em;
}

#footer img {
    padding: .25em;
    float: right;
}
