{% extends "base.html" %}
{% block title %}About RAAMable{% endblock %}
{% block content %}
<p>
RAAMable is a mashup of <a href="http://maps.google.com/">Google Maps</a> with waypoint data of the 2009 route of
<a href="http://www.raceacrossamerica.org/">the Race Across America</a> and the location of nearby <a href="http://www.noaa.gov/">NOAA weather radio towers</a>.
</p>
<p>
There are <a href="http://tiddlyweb.peermore.com/wiki/recipes/raamro/tiddlers.wiki">notes about the development</a> on a <a href="http://tiddlyweb.peermore.com/">TiddlyWeb</a> hosted <a href="http://tiddlywiki.com/">TiddlyWiki</a>.
</p>
<p>
The code is freely available on <a href="http://github.com/cdent/raamable">GitHub</a>.
</p>
<p>
See <a href="/credits">the credits</a> for information on who did this.
</p>
{% endblock %}
