{% extends "base.html" %}
{% block title %}About RAAMable{% endblock %}
{% block content %}
<p>
RAAMable is a mashup of <a href="http://maps.google.com/">Google Maps</a> with waypoint data of the 2009 route of
<a href="http://www.raceacrossamerica.org/">the Race Across America</a> and the location of nearby <a href="http://www.noaa.gov/">NOAA weather radio towers</a>.
</p>
<p>
There are <a href="http://tiddlyweb.peermore.com/wiki/recipes/raamro/tiddlers.wiki">notes about the development</a> on a <a href="http://tiddlyweb.peermore.com/">TiddlyWeb</a> hosted <a href="http://tiddlywiki.com/">TiddlyWiki</a>.
</p>
<p>
The code is freely available on <a href="http://github.com/cdent/raamable">GitHub</a>.
</p>
<p>
See <a href="/credits">the credits</a> for information on who did this.
</p>

<p>
The <a href="/alt">interactive map</a> provides the following functionality (so far):
<ul>
    <li>Displays the route on the map. Zooming the map zooms the route.</li>
    <li>Display an elevation profile of the viewable portion of the route.</li>
    <li>Shows the turns on the route.</li>
    <li>Shows the time stations on the route.</li>
    <li>Shows nearby NOAA radio towers, displaying their frequency on mouseover.</li>
</ul>

</p>

<p>There's more to be done. See the <a href="http://tiddlyweb.peermore.com/wiki/recipes/raamro/tiddlers.wiki">wiki</a> for notes about other ideas. Contact <a href="mailto:raamable@teamhoosiers.com">the developers</a> if you have ideas, comments or questions.</p>

{% endblock %}
