{% extends "base.html" %}
{% block title %}RAAMable Credits{% endblock %}
{% block content %}
<p>
RAAMable was started by <a href="http://burningchrome.com/">Chris Dent</a> and <a href="http://mml.name/">Matt Liggett</a> because Stan thought it might be a good idea.</p>

<p>Many thanks to Stan Gerbig, <a href="http://urbanape.com/">Zac Bir</a>, <a href="http://creature57.tumblr.com/">K8 Walton</a>, <a href="http://aoct.org">Jeremy Fischer</a> and <a href="http://midnightowlsw.com/">Adrian Hosey</a> for keeping us fed and entertained.
</p>
{% endblock %}
